In [2]:
import pandas as pd
import numpy as np

In [3]:
# ratings_df = pd.read_csv("./../MovieLens/ratings.csv") # large dataset
ratings_2_df = pd.read_csv("./../MovieLens/ratings_2.csv") # basic dataset
# movies_df = pd.read_csv("./MovieLens/movies.csv")
# links_df = pd.read_csv("./MovieLens/links.csv")
# tags_df = pd.read_csv("./MovieLens/tags.csv")

## Large dataset

In [24]:
ratings_count = ratings_df.groupby('userId', as_index=False).count().sort_values('movieId', ascending=False)

In [111]:
ratings_count[(ratings_count['movieId']>30) & (ratings_count['movieId']<10000)].describe()

              userId        movieId         rating      timestamp
count  141188.000000  141188.000000  141188.000000  141188.000000
mean   141855.829886     182.083059     182.083059     182.083059
std     81683.157968     269.576139     269.576139     269.576139
min         4.000000      31.000000      31.000000      31.000000
25%     71028.750000      52.000000      52.000000      52.000000
50%    142145.500000      95.000000      95.000000      95.000000
75%    212478.250000     199.000000     199.000000     199.000000
max    283228.000000    9279.000000    9279.000000    9279.000000

### Random sampling corresponding 5%

In [5]:
sample_users_t = ratings_count.sample(frac=0.05)

#### Sorting sample and getting first 200 users

In [6]:
sample_users_t = sample_users_t.sort_values('movieId', ascending=False)
sample_users_t = sample_users_t[:200]
sample_users_t.shape

(200, 4)

#### Picking ratings only users sample

In [7]:
sample_ratings_t = ratings_df.loc[ratings_df['userId'].isin(sample_users_t['userId'].values)]

### First 200 users without randomization

In [8]:
users_t = ratings_count[:200]
users_t.shape

(200, 4)

#### Picking ratings only users sample

In [9]:
ratings_t = ratings_df.loc[ratings_df['userId'].isin(users_t['userId'].values)]

### Writing new datasets

In [10]:
ratings_t.to_csv(path_or_buf='./MovieLens/ratings_large_sample.csv', index=False)
users_t.to_csv(path_or_buf='./MovieLens/users_large_sample.csv', index=False, columns=['userId'])
sample_ratings_t.to_csv(path_or_buf='./MovieLens/ratings_large_sample_05.csv', index=False)
sample_users_t.to_csv(path_or_buf='./MovieLens/users_large_sample_05.csv', index=False, columns=['userId'])

## Basic dataset

In [4]:
ratings_2_count = ratings_2_df.groupby('userId', as_index=False).count()

In [5]:
sectionA = ratings_2_count[(ratings_2_count['movieId']>30) & (ratings_2_count['movieId']<=60)]
sectionB = ratings_2_count[(ratings_2_count['movieId']>60) & (ratings_2_count['movieId']<=154)]
sectionC = ratings_2_count[ratings_2_count['movieId']>154]

In [6]:
n=100
random_state=42
sectionA_ = sectionA.sample(n=n, random_state=random_state)
sectionB_ = sectionB.sample(n=n, random_state=random_state)
sectionC_ = sectionC.sample(n=n, random_state=random_state)

In [7]:
sectionA_['userId'].values

array([487, 429, 468, 196, 349, 107, 581, 183, 375, 521,  71, 316,  61,
       253,  94, 110, 473, 389, 539,  65, 273,  69,  48,  36, 114, 558,
       366, 197, 486, 588, 502, 285, 237, 315,   8, 348, 155, 149, 262,
       540,  99, 506, 435, 347, 481, 128, 302,  88, 455, 255, 358,  46,
       252, 319,  14, 102, 276, 511, 134, 148,  12, 501, 121, 513, 402,
       261,  44, 350, 404,   3, 449, 450, 248, 154, 526, 106, 146, 421,
        97,  90, 441, 300, 291, 142, 338, 400, 583, 498, 162, 451, 238,
       271, 123, 413, 443, 457, 242, 591, 374, 383], dtype=int64)

In [30]:
users = np.concatenate((sectionA_['userId'].values, sectionB_['userId'].values, sectionC_['userId'].values))
# list(users)

In [20]:
ratings = ratings_2_df[ratings_2_df['userId'].isin(users)]
ratings.shape

(62001, 4)

In [27]:
ratings.to_csv(path_or_buf='./../MovieLens/basic/ratings_basic_sample_section.csv', index=False, columns=['userId', 'movieId', 'rating'])

In [9]:
sample_users_u = ratings_2_count.sample(frac=0.5)
sample_users_u = sample_users_u.sort_values('movieId', ascending=False)
sample_users_u = sample_users_u[:200]
sample_users_u.head()

     userId  movieId  rating  timestamp
413     414     2698    2698       2698
598     599     2478    2478       2478
473     474     2108    2108       2108
273     274     1346    1346       1346
386     387     1027    1027       1027

In [11]:
sample_ratings_u = ratings_2_df.loc[ratings_2_df['userId'].isin(sample_users_u['userId'].values)]

In [15]:
users_u = ratings_2_count[:200]
users_u.shape

(200, 4)

In [16]:
ratings_u = ratings_2_df.loc[ratings_2_df['userId'].isin(users_u['userId'].values)]

In [18]:
# ratings_u.to_csv(path_or_buf='./MovieLens/ratings_basic_sample.csv', index=False)
# users_u.to_csv(path_or_buf='./MovieLens/users_basic_sample.csv', index=False, columns=['userId'])
sample_ratings_u.to_csv(path_or_buf='./MovieLens/ratings_basic_sample_05.csv', index=False)
sample_users_u.to_csv(path_or_buf='./MovieLens/users_basic_sample_05.csv', index=False, columns=['userId'])