In [1]:
import pandas as pd

In [2]:
ratings_df = pd.read_csv("./MovieLens/ratings.csv") # large dataset
ratings_2_df = pd.read_csv("./MovieLens/ratings_2.csv") # basic dataset
movies_df = pd.read_csv("./MovieLens/movies.csv")
links_df = pd.read_csv("./MovieLens/links.csv")
tags_df = pd.read_csv("./MovieLens/tags.csv")

## Large dataset

In [3]:
ratings_count = ratings_df.groupby('userId', as_index=False).count().sort_values('movieId', ascending=False)

In [4]:
ratings_count.head()

        userId  movieId  rating  timestamp
123099  123100    23715   23715      23715
117489  117490     9279    9279       9279
134595  134596     8381    8381       8381
212342  212343     7884    7884       7884
242682  242683     7515    7515       7515

### Random sampling corresponding 5%

In [5]:
sample_users_t = ratings_count.sample(frac=0.05)

#### Sorting sample and getting first 200 users

In [6]:
sample_users_t = sample_users_t.sort_values('movieId', ascending=False)
sample_users_t = sample_users_t[:200]
sample_users_t.shape

(200, 4)

#### Picking ratings only users sample

In [7]:
sample_ratings_t = ratings_df.loc[ratings_df['userId'].isin(sample_users_t['userId'].values)]

### First 200 users without randomization

In [8]:
users_t = ratings_count[:200]
users_t.shape

(200, 4)

#### Picking ratings only users sample

In [9]:
ratings_t = ratings_df.loc[ratings_df['userId'].isin(users_t['userId'].values)]

### Writing new datasets

In [10]:
ratings_t.to_csv(path_or_buf='./MovieLens/ratings_large_sample.csv', index=False)
users_t.to_csv(path_or_buf='./MovieLens/users_large_sample.csv', index=False, columns=['userId'])
sample_ratings_t.to_csv(path_or_buf='./MovieLens/ratings_large_sample_05.csv', index=False)
sample_users_t.to_csv(path_or_buf='./MovieLens/users_large_sample_05.csv', index=False, columns=['userId'])

## Basic dataset

In [3]:
ratings_2_count = ratings_2_df.groupby('userId', as_index=False).count().sort_values('movieId', ascending=False)

In [4]:
ratings_2_count.head()

     userId  movieId  rating  timestamp
413     414     2698    2698       2698
598     599     2478    2478       2478
473     474     2108    2108       2108
447     448     1864    1864       1864
273     274     1346    1346       1346

In [9]:
sample_users_u = ratings_2_count.sample(frac=0.5)
sample_users_u = sample_users_u.sort_values('movieId', ascending=False)
sample_users_u = sample_users_u[:200]
sample_users_u.head()

     userId  movieId  rating  timestamp
413     414     2698    2698       2698
598     599     2478    2478       2478
473     474     2108    2108       2108
273     274     1346    1346       1346
386     387     1027    1027       1027

In [11]:
sample_ratings_u = ratings_2_df.loc[ratings_2_df['userId'].isin(sample_users_u['userId'].values)]

In [15]:
users_u = ratings_2_count[:200]
users_u.shape

(200, 4)

In [16]:
ratings_u = ratings_2_df.loc[ratings_2_df['userId'].isin(users_u['userId'].values)]

In [18]:
# ratings_u.to_csv(path_or_buf='./MovieLens/ratings_basic_sample.csv', index=False)
# users_u.to_csv(path_or_buf='./MovieLens/users_basic_sample.csv', index=False, columns=['userId'])
sample_ratings_u.to_csv(path_or_buf='./MovieLens/ratings_basic_sample_05.csv', index=False)
sample_users_u.to_csv(path_or_buf='./MovieLens/users_basic_sample_05.csv', index=False, columns=['userId'])